# Code owners are automatically requested for review when someone opens a pull
# request containing files matching the given path. The syntax for file paths
# is the same as .gitignore.

# The owners for all files in the repo.
* @googleapis/cloud-cxx-owners
