# Code owners are automatically requested for review when someone opens a pull
# request containing files matching the given path. The syntax for file paths
# is the same as .gitignore.

# The owners for all files in the repo.
* @googleapis/cloud-cxx-owners

# These libraries are also owned by the GCS clients team.
/google/cloud/storage/ @googleapis/gcs-sdk-team @googleapis/cloud-cxx-owners
/google/cloud/storagecontrol/ @googleapis/gcs-sdk-team @googleapis/cloud-cxx-owners
/google/cloud/storageinsights/ @googleapis/gcs-sdk-team @googleapis/cloud-cxx-owners
/google/cloud/storagetransfer/ @googleapis/gcs-sdk-team @googleapis/cloud-cxx-owners
