# Use the Google style in this project.
BasedOnStyle: Google

# Some folks prefer to write "int& foo" while others prefer "int &foo".  The
# Google Style Guide only asks for consistency within a project, we have
# (mostly) been using "int& foo", but clang-format(1) sometimes guesses wrong,
# so to enforce the consistency:
PointerAlignment: Left

# These will need to be enabled after we commit the style guide:
# IncludeCategories:
# - Regex: '^\"'
#   Priority: 1000
# - Regex: '^<grpc/'
#   Priority: 2000
# - Regex: '^<google/*'
#   Priority: 3000
# - Regex: '^<.*/.*'
#   Priority: 4000
# - Regex: '^<[^/]*>'
#   Priority: 5000
