# We do not need the git repository in docker images.
.git/

# We do not need the typical build directories in docker images.
.idea/
.build/
_build/
build-output/
cmake-build-*/
cmake-out/

# Skip these directories, the files here are not needed to build any of
# the Docker images. Furthermore, when creating new Dockerfiles the files
# here change a lot, but do not change the image, so they trigger image rebuids
# without any benefit.
ci/travis/
ci/test-readme/
