# Common build output directory names
.build/
_build/
build-output/

# Backup files for Emacs
*~

# Ignore IDEA / IntelliJ files
.idea/
cmake-build-*/

# The Doxygen-generated documentation goes here:
bigtable/doc/html/
doc/html/

# This is a staging directory used to upload the documents to gihub.io
github-io-staging/
