build_file: "google-cloud-cpp/.kokoro/release/publish.sh"

# Record the the commit hash.
action {
  define_artifacts {
    regex: "github/google-cloud-cpp/commit-hash.txt"
    strip_prefix: "github/google-cloud-cpp"
  }
}
