# During the docker-build phase, when building the docker image, we only need
# access to the top-level scripts and their configs in etc/. Ignoring
# everything else prevents unnecessarily rebuilding docker images.
#
# Note: This file does not prevent us from accessing other files from within a
# running docker *container*. Those will be availble from our mounted volume.
# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Start by ignoring everything, then only allow a few things.
*

# Don't ignore a few scripts that are invoked from within Dockerfiles.
!/install-cloud-sdk.sh
!/install-bazel.sh
!/etc/install-config.sh
