name: macOS-Bazel-Builds

# on:
#   workflow_call:
#     inputs:
#       checkout-ref:
#         required: true
#         description: "The ref we want to compile"
#         type: string
#       bazel-cache-mode:
#         required: true
#         description: "READ_WRITE or READ_ONLY"
#         type: string
#       execute-integration-tests:
#         required: true
#         description: "Integration tests require credentials."
#         type: boolean

permissions:
  contents: read

jobs:
  bazel:
    name: bazel + ${{ matrix.os }} + ${{ matrix.shard }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
    strategy:
      # Continue other builds even if one fails
      fail-fast: false
      matrix:
        os: [ macos-14 ]
        shard:
        - Storage
        include:
        - shard: Storage
          targets:
          - //google/cloud/storage/...
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.checkout-ref }}
    - uses: google-github-actions/auth@v2
      if: ${{ inputs.bazel-cache-mode == 'READ_WRITE' }}
      with:
        create_credentials_file: true
        credentials_json: ${{ secrets.BUILD_CACHE_KEY }}
    - name: Install bash >= 5.x
      run: brew install bash
    - name: Pre Tests Disk Space
      run: df -m
    - name: Build google-cloud-cpp
      run: |
        export BAZEL_REMOTE_CACHE_RW_MODE=${{ inputs.bazel-cache-mode }}
        export EXECUTE_INTEGRATION_TESTS=${{ inputs.execute-integration-tests }}
        ci/gha/builds/macos-bazel.sh ${{ join(matrix.targets, ' ') }}
    - name: Post Tests Disk Space
      run: df -m
    env:
      BAZEL_REMOTE_CACHE: https://storage.googleapis.com/cloud-cpp-community-gha-cache/bazel-cache/${{ matrix.os }}
      GHA_TEST_BUCKET: "gcs-grpc-team-cloud-cpp-testing-bucket"
