name: macOS-Bazel-Builds

on:
  workflow_call:
    inputs:
      checkout-ref:
        required: true
        description: "The ref we want to compile"
        type: string

permissions:
  contents: read

jobs:
  bazel:
    name: bazel + ${{ matrix.os }} + ${{ matrix.shard }}
    runs-on: ${{ matrix.os }}
    permissions:
      contents: 'read'
      id-token: 'write'
    strategy:
      # Continue other builds even if one fails
      fail-fast: false
      matrix:
        os: [ macos-14 ]
        shard:
        - Core
        - Bigtable
        - Pub/Sub
        - Spanner
        - Storage
        - Compute
        - Larger Libraries
        - Other
        include:
        - shard: Core
          targets:
          - //google/cloud:all
          # - //generator/...  # Does not build on macOS
          # - //docfx/...      # Does not build on macOS
          - +//examples/...
        - shard: Bigtable
          targets:
          - //google/cloud/bigtable/...
        - shard: Pub/Sub
          targets:
          - //google/cloud/pubsub/...
          - +//google/cloud/pubsublite/...
        - shard: Spanner
          targets:
          - //google/cloud/spanner/...
        - shard: Storage
          targets:
          - //google/cloud/storage/...
          # Include the top-level examples because they require the libs anyway.
        - shard: Compute
          targets:
          - //google/cloud/compute/...
        - shard: Larger Libraries
          targets:
          # Run this:
          #
          # git grep -l 'class.*Client' 'google/cloud/**_client.h' |
          #    egrep -v "(bigtable/|internal/|pubsub/|spanner/|storage/)" |
          #    cut -f -3 -d/| sort | uniq -c | sort -n |
          #    awk '{ s += $1; print s, $0}'
          #
          # and pick the approximate midpoint
          - //google/cloud/servicecontrol/...
          - +//google/cloud/support/...
          - +//google/cloud/video/...
          - +//google/cloud/datacatalog/...
          - +//google/cloud/iam/...
          - +//google/cloud/kms/...
          - +//google/cloud/beyondcorp/...
          - +//google/cloud/contentwarehouse/...
          - +//google/cloud/dataproc/...
          - +//google/cloud/talent/...
          - +//google/cloud/retail/...
          - +//google/cloud/bigquery/...
          - +//google/cloud/appengine/...
          - +//google/cloud/monitoring/...
          - +//google/cloud/sql/...
          - +//google/cloud/dialogflow_cx/...
          - +//google/cloud/aiplatform/...
          - +//google/cloud/dialogflow_es/...
        - shard: Other
          targets:
          - //...
          # Skip top-level targets (e.g. //:bigtable).
          - -//:all
          # From Core
          - -//generator/...
          - -//docfx/...
          - -//google/cloud:all
          - -//examples/...
          # From Bigtable
          - -//google/cloud/bigtable/...
          # From Pub/Sub
          - -//google/cloud/pubsub/...
          - -//google/cloud/pubsublite/...
          # From Spanner
          - -//google/cloud/spanner/...
          # From Storage
          - -//google/cloud/storage/...
          # From Compute
          - -//google/cloud/compute/...
          # From Large Libraries
          - -//google/cloud/servicecontrol/...
          - -//google/cloud/support/...
          - -//google/cloud/video/...
          - -//google/cloud/datacatalog/...
          - -//google/cloud/iam/...
          - -//google/cloud/kms/...
          - -//google/cloud/beyondcorp/...
          - -//google/cloud/contentwarehouse/...
          - -//google/cloud/dataproc/...
          - -//google/cloud/talent/...
          - -//google/cloud/retail/...
          - -//google/cloud/bigquery/...
          - -//google/cloud/appengine/...
          - -//google/cloud/monitoring/...
          - -//google/cloud/sql/...
          - -//google/cloud/dialogflow_cx/...
          - -//google/cloud/aiplatform/...
          - -//google/cloud/dialogflow_es/...
    steps:
    - uses: actions/checkout@v4
      with:
        ref: ${{ inputs.checkout-ref }}
    - uses: google-github-actions/auth@v2
      with:
        create_credentials_file: true
        credentials_json: ${{ secrets.BUILD_CACHE_KEY }}
    - name: Install bash >= 5.x
      run: brew install bash
    - name: Build google-cloud-cpp
      run: ci/gha/builds/macos-bazel.sh ${{ join(matrix.targets, ' ') }}
    env:
      BAZEL_REMOTE_CACHE: https://storage.googleapis.com/cloud-cpp-gha-cache/bazel-cache/${{ matrix.os }}
      GHA_TEST_BUCKET: "gcs-grpc-team-cloud-cpp-testing-bucket"
