name: "gha: macOS & Windows"

# Build on pull requests and pushes to `main`. The PR builds will be
# non-blocking for now, but that is configured elsewhere.
on:
  # Start these builds on pushes (think "after the merge") too. Normally there
  # are no `ci-gha**` branches in our repository. The contributors to the repo
  # can create such branches when testing or troubleshooting builds. In such
  # branches we can disable builds (to speed up the testing) or add new ones,
  # without impacting the rest of the team.
  push:
    branches: [ 'main', 'v[2-9]**', 'ci-gha**' ]
  # Start the build in the context of the target branch. This is considered
  # "safe", as the workflow files are already committed. These types of builds
  # have access to the secrets in the build, which we need to use the remote
  # caches (Bazel and sccache).
  pull_request_target:

# Cancel in-progress runs of the workflow if somebody adds a new commit to the
# PR or branch. That reduces billing, but it creates more noise about cancelled
# jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.head.label || github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  pre-flight:
    # For external contributors, run the build in the `external` environment.
    # This requires manual approval from a contributor. It also saves the
    # `ref` of the pull request, so downstream jobs know what to checkout.
    environment: ${{ (github.event_name != 'pull_request_target' && 'internal') || (github.event.pull_request.head.repo.full_name == github.repository && 'internal') || (contains(fromJSON(vars.TRUSTED_FORKS), github.actor) && 'internal') || 'external' }}
    name: Require Approval for External PRs
    runs-on: ubuntu-latest
    outputs:
      checkout-sha: ${{ steps.save-pull-request.outputs.sha }}
    steps:
      - name: Save Pull Request
        id: save-pull-request
        run: >
          echo "sha=${{ github.event.pull_request.head.sha || github.ref }}" >> $GITHUB_OUTPUT
      - name: Get github.event Object
        run: |
          echo ========== 'github'
          cat >/dev/null <'_EOF_'
          ${{ toJSON(github.event) }}
          _EOF_
      - name: Get github Object
        run: |
          echo ========== 'github'
          cat >/dev/null <'_EOF_'
          ${{ toJSON(github) }}
          _EOF_

  # Run other jobs once the `pre-flight` job passes. When the `pre-flight`
  # job requires approval, these blocks all the other jobs. The jobs are defined
  # in separate files to keep the size of this file under control. Note how
  # the additional jobs inherit any secrets needed to use the remote caches and
  # receive what version to checkout as an input.
  external-account-integration:
    name: External Account Integration
    needs: [pre-flight]
    uses: ./.github/workflows/external-account-integration.yml
    with:
      checkout-ref: ${{ needs.pre-flight.outputs.checkout-sha }}
    secrets: inherit
  macos-bazel:
    # We only run the Bazel tests post-merge. macOS builds are expensive, and
    # the Bazel tests are unlikely to fail given that (1) we have macOS+CMake
    # builds below, and (2) we have Linux+Bazel tests elsewhere.
    if: false # DEBUG DEBUG ${{ github.event_name == 'push' }}
    name: macOS-Bazel
    needs: [pre-flight]
    uses: ./.github/workflows/macos-bazel.yml
    with:
      checkout-ref: ${{ needs.pre-flight.outputs.checkout-sha }}
    secrets: inherit
  macos-cmake:
    if: ${{ false }}
    name: macOS-CMake
    needs: [pre-flight]
    uses: ./.github/workflows/macos-cmake.yml
    with:
      checkout-ref: ${{ needs.pre-flight.outputs.checkout-sha }}
      # On pull requests only build the `Core` shard. This contains all the
      # hand-crafted code. The other shards are unlikely to catch problems, as
      # (1) this is largely generated code, (2) we have other builds that test
      # this code on Linux and Windows.
      shards: ${{ (github.event_name == 'push' && '["Core","Compute","Shard1","Other"]') || '["Core"]' }}
    secrets: inherit
  windows:
    name: Windows
    needs: [pre-flight]
    uses: ./.github/workflows/windows.yml
    with:
      checkout-ref: ${{ needs.pre-flight.outputs.checkout-sha }}
      full-matrix: false # TODO DEBUG ${{ github.event_name == 'push' && github.ref == 'main' }}
    secrets: inherit
